body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #303136;
}

a:hover {
  color: black;
}

.wrapper {
  margin: 0 auto;
  padding-left: 300px;
  padding-right: 300px;
}

.title {
  margin: 0;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.cart {
  display: flex;
  align-items: center;
}

.cart span {
  font-size: 16px;
  margin-left: 10px;
}

.cart svg {
  width: 25px;
  height: 25px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #303136;
}

.white {
  background-color: #fff;
}

.grid-listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}

.checkout-listing {
  display: flex;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.card-tag {
  padding: 5px;
  border: 1px solid #33343a;
  background-color: rgba(51, 52, 58, 0.25);
  border-radius: 5px;
  font-size: 12px;
}

.card-colors {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 15px;
}

.card-title, .card-price {
  font-size: 20px;
  margin: 0;
}

.card-image {
  margin-top: 20px;
  width: 100%;
  max-height: 220px;
  object-fit: cover;
}

.card-button {
  padding: 5px;
  margin: 0;
  border: 1px solid #0090ea;
  background-color: rgba(0, 144, 244, 0.25);
  border-radius: 5px;
  font-size: 18px;
}

.card-button:hover {
  background-color: rgba(0, 144, 244, 0.5);
}

.card-checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

table,
td {
  border: 1px solid #333;
  padding: 5px 10px;
}

thead,
tfoot {
  color: #000;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  z-index: 10;
}

@media screen and (max-width: 768px){
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .grid-listing {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .card-image {
    max-height: 150px;
  }
}

